body {
    display: flex;
    flex-direction: column;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header__logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header__links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
}

.one__container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.one__content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 75px;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
    text-align: center;
}

.one__img img {
    width: 350px
}

.one__title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

/*         __________          */

.two {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.two__title {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    border-bottom: 25px;
}

.two__image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.two__image-container img {
    max-width: 100%;
    height: 175px;
} 

/* images shrink when minimizing window!!!! */
/* solve problem of divs around imgs or imgs standalone */
/* when applying above css to div, it explodes in size */
.two__text p {
    max-width: 200px;
}

.two__text {
    display: flex;
    justify-content: space-evenly;
}

/*  ___________  */

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.three__quote {
    max-width: 450px;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    /* MAKE FONT LIGHT, CHECK THE COLORS & FONT STYLES */
}

.three__authorship {
    display: flex;
    justify-content: flex-end;
}

/*  ____________  */

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.four__container {
    display: flex;
    background-color: #3882F6;
    padding: 24px 76px;
    border-radius: 4px;
    justify-content: space-between;
}

.four__content {
    display: flex;
    flex-direction: column;
}

.four__title {
    font-weight: 800;
}

.four__text {
    color: #F9FAF8;
}

.four__subtext {

}

button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
}

/* ______________ */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.footer__text {
    color: #F9FAF8;
}